@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: lightgray;
}

.header{
    width: 100%;
    background-color: white;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    border-bottom: 1px solid lightgrey;
}

.header .h1{
    font-size: 20px;
}

.header .ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    font-size: 20px;
}

.header .li{
    margin: 0 .5em;
}

.logo{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.logo img{
    width: 50%;
    height: 50%;
    overflow: hidden;
    object-fit: cover;
    background-color: white;
}

.padre{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
}

.padre .imagen {
    width: 45%;
    margin-right: 20px;
}

.padre img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    background-color: white;
}

.cancelar{
    display: flex;
    flex-direction: row;
}

.cancelar img{
    width: 20px;
}

.parrafo-cancelar{
    margin-bottom: 5%;
}

.form-login {
    border-left: 2px solid lightgrey;
    height: 60vh;
    width: 40%;

    padding-left: 5%;
    
}

.form-login .inicia-sesion{
    text-align: center; /*dandoloe el mismo ancho de los inputs (lo mas ancho de la caja por asi decirlo) y dandole text aling center se centra el texto*/
    margin-bottom: 8%;
    width: 80%;
}

.form-login input{
    margin-bottom: 15px;
    height: 45px;
    width: 80%;

    border: none;
    border-bottom: 1px solid lightgrey;
}

.form-login button{
    margin-bottom: 15px;
    height: 50px;
    width: 80%;
}

.btn-inicia{
    background-color: #24469F;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

.btn-google{
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 4px;
    overflow: hidden;
}

.btn-google span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn-google img {
    width: 20px;
}

.form-login .tienes{
    margin-bottom: 15px;
    height: 40px;
    width: 80%;
    text-align: center;
}

.tienes a{
    color: black;
    text-decoration-color: black;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;

    background-color: #DFAF67;
}

.footer .derechos{
    color: #866CBA;
    font-weight: 10;
}

@media screen and (max-width:480px){
    .header .nav{
        width: 100%;
    }

    .header .ul{
        flex-direction: column;
        justify-content: flex-start;
    }

    .header .li{
        margin: 1rem 0;
    }

    .padre{
        flex-direction: column;
    }

    .padre .imagen {
        width: 70%;
    }

    .form-login{
        padding-left: 12%;
        width: 100%;
        border:none;
    }

    .form-login input,
    .form-login button{
        margin-bottom: 8%;
    }

    .cancelar{
        display: none;
    }


}