@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: white;
}

.padre{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20vh;
}

.padre .imagen {
    width: 45%;
    margin-right: 20px;
}

.padre img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    background-color: white;
}

.cancelar{
    display: flex;
    flex-direction: row;
}

.cancelar img{
    width: 20px;
}

.parrafo-cancelar{
    font-size: 1.6rem;
    margin-bottom: 5%;
}

.form-login {
    font-size: 2.4rem;
    border-left: 2px solid lightgrey;
    height: 60vh;
    width: 40%;
    padding-left: 5%;
    
}
.form-login .inicia-sesion{
    font-size: 3.2rem;
    text-align: center; /*dandoloe el mismo ancho de los inputs (lo mas ancho de la caja por asi decirlo) y dandole text aling center se centra el texto*/
    margin-bottom: 8%;
    width: 80%;
}

.form-login input{
    font-size: 1.33333rem;
    margin-bottom: 15px;
    height: 45px;
    width: 80%;

    border: none;
    border-bottom: 1px solid lightgrey;
}

.form-login button{
    font-size: 1.33333rem;
    margin-bottom: 15px;
    height: 50px;
    width: 80%;
}

.btn-inicia{
    font-size: 2.4rem;
    background-color: #24469F;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

.btn-google{
    font-size: 1.33333rem;
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 4px;
    overflow: hidden;
}

.btn-google span{
    font-size: 1.33333rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn-google img {
    font-size: 2.4rem;
    width: 20px;
}
.form-login .tienes{
    font-size: 1.6rem;
    margin-bottom: 15px;
    height: 40px;
    width: 80%;
    text-align: center;
}

.tienes a{
    font-size: 1.6rem;
    color: black;
    text-decoration-color: black;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;

    background-color: #DFAF67;
}




@media screen and (max-width:480px){

    .padre{
        flex-direction: column;
        margin-bottom: 10vw;
    }

    .padre .imagen {
        width: 70%;
    }

    .form-login{
        margin-bottom: 50%;
        padding-left: 12%;
        width: 100%;
        border:none;
    }

    .form-login input,
    .form-login button{
        margin-bottom: 8%;
    }

    .cancelar{
        display: none;
    }


}

@media screen and (max-width:375px){

    .padre{
        margin-bottom: 20vh;
    }
}