@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: rgb(236, 235, 235);
}

.encabezado{
    font-weight: bold;
    padding-top: 5%;
}

.busqueda-padre{
    display: flex;
}

.contenedor-filtros {
    flex: 0.3;
    padding-top: 5%;
    margin-left: 1%;
}

.titulo-resultado{
    font-size: 18px;
}

.btn-filtros{
    display: none;
}

.secciones p{
    font-size: 20px;
    padding-bottom: 5%;
}
.precio h2{
    font-size: 2.4rem;
}
.stars{
    font-size: 1.6rem;
}
.contenedor-productos {
    font-size: 2.4rem;
    flex: 2; 
    display: flex;
    flex-direction: column;

    padding-top: 2%;
}
.texto-producto p{
    
    font-size: 1.6rem;
}
.comprar {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 10%;
}

.btn-comprar{
    margin-top: 5%;
    margin-right: 5%;
    background-color: #004aad;
    color: white;
    border: none;
    height: 3em;
    width: 6em;
    cursor: pointer;
    border-radius: 3px;
}

.btn-carrito{
    margin-top: 5%;
    border-radius: 100%;
    border: none;
    background-color: rgb(255, 189, 68);

    height: 2.7em;
    width: 2.7em;
}

.btn-carrito a{
    margin-left: 8px;
    text-decoration: none;
    color: white;
}

.producto-title{
    font-size: 20px;
}

.checked{
    color: orange;
}

.contenido div{
    padding-bottom: 2%;
    margin-left: 5px;
    margin-right: 5px;
}

.resultado{
    margin-bottom: 20px;
}

.productos-all{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.producto-unique{
    width: 30vh;
    height: 60vh;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    border-radius: 5px;
    border: 1px solid lightgray;
}

.producto-unique img{
    width: 100%;
    height: 50%;
    overflow: hidden;
    object-fit: cover;
    background-color: white;
}

.secciones{
    padding-bottom: 5%;
}

@media screen and (max-width:420px){
    .header .ul{
        padding-left: 1.2em;
    }

    .padre{
        padding-left: 5vh;
    }

    .contenedor-filtros{
        display: none;
    }

    .resultado{
        margin-left: 5%;
    }
    
    .btn-filtros{
        display: flex;
        justify-content: center;
        width: 5em;
        height: 2em;

        margin-top: 2%;
        border: 1px solid lightgray;
        background-color: white;
        border-radius: 3px;
        font-weight: bold;

    }

    .productos-all{
        justify-content: center;
        align-items: center;
    }

    .producto-unique{
        height: 65vh;
        width: 32vh;
    }

}