@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: lightgray;
}

.header{
    width: 100%;
    background-color: white;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header .h1{
    font-size: 20px;
}

.header .ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    font-size: 20px;
}

.header .li{
    margin: 0 .5em;
}